.slide-enter-active,
.slide-leave-active {
  transition: transform 0.3s ease;
}
.slide-enter-from,
.slide-leave-to {
  transform: translateX(100%);
}

.main-container {
  width: 70%;
  height: auto;

  position: relative;
  padding: 12px 0;
  top: 90px;
  margin: 0 auto;
}

.search {
  width: 100%;

  margin-left: 0px;
  border-radius: 3px;
  overflow: hidden;
}

form {
  display: flex;
  justify-content: space-between;
}

input[type='text'] {
  width: 93%;

  padding: 10px;
  border: none;
  outline: none;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

button {
  padding: 10px 20px;
  border: none;

  cursor: pointer;
  font-size: 16px;
  font-weight: bold;

  color: white;
  background-color: dodgerblue;
}

button:hover {
  background-color: deepskyblue;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  padding: 20px;
  margin-bottom: 30px;
}

.load-more-btn {
  padding: 10px 20px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
  display: block;

  font-size: 16px;
  color: white;
  background-color: #007bff;
}

.modal-image {
  width: 43%;
  height: 100%;

  margin-right: 10px;
}

.modal-title {
  width: 100%;

  font-size: 32px;
  font-weight: bold;
  padding-top: 10px;
}

.image-and-title {
  display: flex;
}

.load-more-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

@media (max-width: 1030px) {
  .modal-title {
    width: 90%;

    font-size: 32px;
    font-weight: bold;
    word-spacing: -2px;
  }

  .image-and-title {
    flex-direction: column;
  }

  .modal-description {
    width: 90%;

    font-size: 22px;
  }

  .modal-image {
    width: 100%;
    height: 50%;

    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .load-more-btn {
    width: 70%;

    padding: 20px 20px;
  }
}

@media (max-width: 430px) {
  .main-container {
    width: 90%;
  }

  .search {
    width: 100%;
  }

  .modal-title {
    width: 90%;

    font-size: 22px;
    font-weight: bold;
    word-spacing: -2px;
  }

  .modal-description {
    width: 90%;

    font-size: 12px;
  }
  .load-more-btn {
    width: 100%;

    padding: 20px 20px;
  }
}

@media (max-width: 375px) {
  .main-container {
    width: 90%;
  }

  .search {
    width: 100%;
  }

  .modal-title {
    width: 90%;

    font-size: 22px;
    font-weight: bold;
    word-spacing: -2px;
  }

  .modal-description {
    width: 90%;

    font-size: 12px;
  }

  .modal-image {
    width: 60%;
    height: 40%;

    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .load-more-btn {
    width: 100%;

    padding: 20px 20px;
  }
}

@media (max-width: 344px) {
  .main-container {
    width: 96%;
  }

  .search {
    width: 100%;
  }
}
