.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  position: relative;
  padding: 20px;
  border-radius: 8px;

  height: auto;
  width: 450px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  margin: 10px 10px;
}

@media (max-width: 1030px) {
  .modal-overlay {
    align-items: flex-end;
  }
  .modal-content {
    width: 90%;
    height: auto;
  }

  .modal-buttons {
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
  }

  .modal-buttons button {
    padding: 15px 20px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    margin: 10px 10px;
  }
}

@media (max-width: 414px) {
  .modal-overlay {
    align-items: flex-end;
  }

  .modal-content {
    height: auto;
  }

  .modal-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    margin: 10px 10px;
  }
}
